In [4]:
import os
os.listdir('./data/Day3 Data/')

['.ipynb_checkpoints',
 'Reviews-1.csv',
 'Reviews-2.csv',
 'Reviews-3.csv',
 'Reviews-4.csv']

In [ ]:
#Loading Data 
import pandas as pd
import glob     #glob module for finding files and directories with matching names 

files = glob.glob('./data/Day3 Data/Reviews-*.csv')   #returns a list of file paths that match
df_list = [pd.read_csv(f) for f in files]          #creating list of dataframes
reviews_df = pd.concat(df_list, ignore_index=True)  #combines all dataframes in the list to one dataframe and saves as reviews

In [6]:
#Data Inspection-Examining Merged Data Frames
reviews_df.head()
reviews_df.info()
reviews_df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 568454 entries, 0 to 568453
Data columns (total 10 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Id                      568454 non-null  int64
 1   ProductId               568454 non-null  object
 2   UserId                  568454 non-null  object
 3   ProfileName             568428 non-null  object
 4   HelpfulnessNumerator    568454 non-null  int64
 5   HelpfulnessDenominator  568454 non-null  int64
 6   Score                   568454 non-null  int64
 7   Time                    568454 non-null  int64
 8   Summary                 568427 non-null  object
 9   Text                    568454 non-null  object
dtypes: int64(5), object(5)
memory usage: 43.4+ MB

,Id,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time
count,568454.000000,568454.000000,568454.00000,568454.000000,5.684540e+05
mean,284227.500000,1.743817,2.22881,4.183199,1.296257e+09
std,164098.679298,7.636513,8.28974,1.310436,4.804331e+07
min,1.000000,0.000000,0.00000,1.000000,9.393408e+08
25%,142114.250000,0.000000,0.00000,4.000000,1.271290e+09
50%,284227.500000,0.000000,1.00000,5.000000,1.311120e+09
75%,426340.750000,2.000000,2.00000,5.000000,1.332720e+09
max,568454.000000,866.000000,923.00000,5.000000,1.351210e+09

In [7]:
#Data Inspection-Missing Value Check
reviews_df.isnull().sum()

Id                         0
ProductId                  0
UserId                     0
ProfileName               26
HelpfulnessNumerator       0
HelpfulnessDenominator     0
Score                      0
Time                       0
Summary                   27
Text                       0
dtype: int64

In [11]:
print(reviews_df.columns)

Index(['Id', 'ProductId', 'UserId', 'ProfileName', 'HelpfulnessNumerator',
       'HelpfulnessDenominator', 'Score', 'Time', 'Summary', 'Text'],
      dtype='object')

In [17]:
reviews_df.drop_duplicates(inplace=True) #Duplicates Handling

In [19]:
#View and Inspect Data
import pandas as pd

df = pd.read_csv('./data/Day3 Data/Reviews-1.csv')  
df = pd.read_csv('./data/Day3 Data/Reviews-2.csv') 
df = pd.read_csv('./data/Day3 Data/Reviews-3.csv') 
df = pd.read_csv('./data/Day3 Data/Reviews-4.csv')

In [20]:
print(df.head())

       Id   ProductId          UserId                       ProfileName  \
0  300000  B0007XAUXC  A1TDZMXV5P6AJB                 Phyllis E. Tustin
1  300001  B0007XAUXC  A2IVZ6LY3YHV1N  Kimberly J. Walsh "Military Mom"
2  300002  B0007XAUXC  A1KBRU7S92I6FC                             tammy
3  300003  B0007XAUXC  A1VTCSCH8FFC76                     Parker Hallam
4  300004  B000V1ECO8  A22O5OB5CZ23HV                     Savvy Shopper

   HelpfulnessNumerator  HelpfulnessDenominator  Score        Time  \
0                     7                       7      4  1272758400
1                     0                       0      5  1345680000
2                     0                       0      5  1336608000
3                     0                       0      5  1334188800
4                     1                       1      5  1326499200

                              Summary  \
0                              review
1                   daughter loved it
2                          Very happy
3                    Best Easter gift
4  Why Settle For Less Than The Best?

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 Text
0                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     our grand kids were thrilled and excited. they loved everything about the product and claimed it was the best easter gift ever.
1                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          I sent this to my daughter for Easter. She has two kids and they really had fun opening it to find all the goodies inside.
2                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 I sent this as a gift to my daughter away at college.  She loved it and thought it was adorable.  Enjoyed the treats as well.  I would use this type of item to surprise her again!
3                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 This Easter I found a great gift item for my neighbor who is the mother of a six year old. I wanted something that would delight both mother and daughter and came across the Somebunny special Easter bunny rabbit gift tower. The box contained chocolate chip cookies, pretzels, rabbit jelly belly beans that would be a true family treat. My neighbor appreciated my gifts and told me that she used the boxes to store color pencils and stationery items of her little one. I was happy that I was able to find an Easter gift that they truly appreciated.
4  In the past, I had tried to prepare other brands of polenta (dry mix or the 'tube'), but always ended up with a lumpy, sour-tasting porridge, no matter how much water I used or how diligently I stirred the pot while cooking. I resigned myself to the fact that I was unable to master the proper polenta-cooking-technique and had to be satisfied with ordering it as a side dish in pricey restaurants. About 15 years ago, I happened to be shopping in my local gourmet food shoppe and spotted the now-familiar yellow box and decided "what the heck, I'll give Valsuga Polenta a try". From that day forward, my family and I became 'home-made-polenta-converts'...Valsuga consistently cooks up quickly, never lumps and always tastes sweet and fresh as a good polenta should. Sadly, my local supply dried up when the gourmet shoppe closed, but I was relieved to discover this product was offered on Amazon. The price is right, the product is fabulous: whats not to like? I'll keep buying my Valsuga Polenta from Amazon!

In [21]:
print(df.columns)
print(df.info())

Index(['Id', 'ProductId', 'UserId', 'ProfileName', 'HelpfulnessNumerator',
       'HelpfulnessDenominator', 'Score', 'Time', 'Summary', 'Text'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 268455 entries, 0 to 268454
Data columns (total 10 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Id                      268455 non-null  int64
 1   ProductId               268455 non-null  object
 2   UserId                  268455 non-null  object
 3   ProfileName             268444 non-null  object
 4   HelpfulnessNumerator    268455 non-null  int64
 5   HelpfulnessDenominator  268455 non-null  int64
 6   Score                   268455 non-null  int64
 7   Time                    268455 non-null  int64
 8   Summary                 268440 non-null  object
 9   Text                    268455 non-null  object
dtypes: int64(5), object(5)
memory usage: 20.5+ MB
None

In [22]:
print(df.describe())

                  Id  HelpfulnessNumerator  HelpfulnessDenominator  \
count  268455.000000         268455.000000           268455.000000
mean   434227.000000              1.727347                2.206962
std     77496.427595              7.182787                7.845783
min    300000.000000              0.000000                0.000000
25%    367113.500000              0.000000                0.000000
50%    434227.000000              0.000000                1.000000
75%    501340.500000              2.000000                2.000000
max    568454.000000            808.000000              815.000000

               Score          Time
count  268455.000000  2.684550e+05
mean        4.197460  1.296574e+09
std         1.305616  4.825528e+07
min         1.000000  9.440928e+08
25%         4.000000  1.272240e+09
50%         5.000000  1.311638e+09
75%         5.000000  1.332893e+09
max         5.000000  1.351210e+09

In [23]:
print(df.isnull().sum())    #Display Null items

Id                         0
ProductId                  0
UserId                     0
ProfileName               11
HelpfulnessNumerator       0
HelpfulnessDenominator     0
Score                      0
Time                       0
Summary                   15
Text                       0
dtype: int64

In [24]:
df = df.dropna(subset=['ProfileName', 'Summary'])  #Dataframe Cleaning

In [25]:
print(df.isnull().sum()) #Printing Cleaned Data

Id                        0
ProductId                 0
UserId                    0
ProfileName               0
HelpfulnessNumerator      0
HelpfulnessDenominator    0
Score                     0
Time                      0
Summary                   0
Text                      0
dtype: int64

In [26]:
print(df.duplicated().sum()) #finding Duplicates

0

In [27]:
df = df.drop_duplicates() # removing Duplicates

In [28]:
print(df.columns)     #Print Columns

Index(['Id', 'ProductId', 'UserId', 'ProfileName', 'HelpfulnessNumerator',
       'HelpfulnessDenominator', 'Score', 'Time', 'Summary', 'Text'],
      dtype='object')

In [29]:
df = df.drop(['HelpfulnessNumerator', 'HelpfulnessDenominator' , 'Time' , ], axis=1)  # Deleting Unwanted Columns

In [30]:
print(df.columns) # Displaying deleted columns

Index(['Id', 'ProductId', 'UserId', 'ProfileName', 'Score', 'Summary', 'Text'], dtype='object')

In [31]:
#Saving Cleaned Dataset
import os
os.makedirs('./data/cleaned_dataset', exist_ok=True)

In [32]:
#Saving Cleaned Dataset
df.to_csv('./data/cleaned_dataset/cleaned_data.csv', index=False)